
<section data-ng-controller="HomeController">
<div class="container">
<div class="row"><h2>Zenbat</h2></div>
    <div class="row">
        
      <!--  <div class="col-md-6" style="margin:0 auto;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-calendar"></span> Pedidos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                       <div class="col-xs-6 col-md-6">
                          <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Apps</a>
                          <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Bookmarks</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>Reports</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Comments</a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Users</a>
                          <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br/>Notes</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br/>Tags</a>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>-->
<!-- init pedidos -->
<div class="col-md-6" style="margin:0 auto;">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-calendar"></span> Pedidos  - FALTAN COMPONENTES</h3>
                </div>
                <div class="panel-body">
                     <div class="list-group">
                     <a   class="list-group-item" href="#!/pedidos/{{pedido.pedidoId}}" data-ng-repeat="pedido in pedidosFaltan  | orderBy:predicate:reverse "><strong>{{pedido.fecha | date: 'dd-MM-yyyy' }}</strong> - {{pedido.armarioId}}</a>
                      <div> Total pedidos a los que les faltan de componentes: <span>{{pedidosFaltan.length}}</span></div>
                    
                    </div>
              </div>
        </div>
        </div>
<!-- fin pedidos -->
<!-- init pedidosProveedors -->
<div class="col-md-6" style="margin:0 auto;">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-shopping-cart"></span> Pedidos a proveedores - PENDIENTES</h3>
                </div>
                <div class="panel-body">
                     <div class="list-group">
                      <a   class="list-group-item" href="#!/pedidos-proveedores/{{pedidoProveedor.nPedido}}" data-ng-repeat="pedidoProveedor in pedidosProveedoresPendientes  | orderBy:pedidoProveedor.fecha:reverse "><strong>{{pedidoProveedor.fecha  | date: 'dd-MM-yyyy' }}</strong> - {{pedidoProveedor.proveedorData.Nombre}} <span ng-show="pedidoProveedor.fechaEntrega"> - F.Entrega:</span><strong>{{pedidoProveedor.fechaEntrega  | date: 'dd-MM-yyyy' }}</strong></a>
                      <div> Total pedidos a proveedores pendientes: <span>{{pedidosProveedoresPendientes.length}}</span></div>
                    </div>
                    
                </div>
            </div>
        </div>
<!-- fin pedidosProveedors -->
<!-- init tools -->
<div class="col-md-6" style="margin:0 auto;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-wrench"></span> Herramientas</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                       
                    </div>
                    <a href="/#!/reload" class="btn btn-danger btn-lg btn-block" role="button"><span class="fa fa-refresh"></span> Releer archivos</a>
                </div>
            </div>
        </div>
<!-- fin tools -->


        <div class="col-md-6" style="margin:0 auto;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-tasks"></span> Componentes</h3>
                </div>

                <div class="panel-body">
             
                    <p>Los componentes necesitan <strong>codigo</strong> y <strong>stockSeguridad</strong>
                    <p>Actualmente hay <strong>{{numComponentes}}</strong> indexados;</p>
                     <hr/>
                    <p>El <strong>estado</strong> se calcula en base a la cantidad <strong>usable</strong> del producto</p>
                    <p>La cantidad <strong>usable</strong> es la cantidad <strong>actual</strong> <strong>+</strong> cantidad <strong>recibida</strong> de un pedido parcial – la cantidad en Armarios</p>
                    <p>La cantidad <strong>usable futura</strong> es la cantidad <strong>usable +</strong> cantidad de componentes <strong>no recibidos</strong></p>
                    <p><strong>Reserva</strong> son pedidos de armarios pendientes de entregar</p>
                          <table class="table table-condensed table-stripped">
                      <thead>
                        <tr>
                          <td>Estado</td><td>Explicacion</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                     
                        <tr><td  class="componente-status-OK text-center">ok</td><td>El componente se quedara por encima del stock minimo tras procesar todo</td></tr>
                        <tr><td class="componente-status-negativo text-center">negatibo</td><td>Si los usables son menor de 0, el componente está en NEGATIVO (por ejemplo, se entrega un armario con material adelantado por Jaso que hay que devolver).</td></tr>
                        <tr><td class="componente-status-bajoMinimos text-center">bajoMinimos</td><td>Si los usables están entre 0 y el StockSeguridad el componente esta BAJOMINIMOS (se podrá hacer el armario pero el componente queda debajo del SS).</td></tr>
                         <tr><td class="componente-status-negativoConReserva text-center">negatiboConReserva</td><td>Si los usables son menor de 0 pero hay Armarios pendientes, está en NEGATIVOCONRESERVA (El componente está por debajo de 0 y encima hay que hacer el Armario, o tras hacer otros armarios quedará por debajo)</td></tr>
                        <tr><td class="componente-status-bajoMinimosConReserva text-center">bajoMinimosConReserva</td><td>Si los usables están entre 0 y el StockSeguridad pero hay Armarios pendientes esta BAJOMINIMOSCONRESERVA (El Armario se puede hacer pero el componente quedará por debajo del SS)</td></tr>
                        
                        
                        <tr><td class="componente-status-negativoFuturo text-center">negativoFuturo</td><td>Si los usables futuros son menor de 0, el componente está en NEGATIVOFUTURO (Aun con los componentes que faltan por llegar de proveedores, los usables quedarían bajo 0)</td></tr>
                        <tr><td class="componente-status-negativoFuturoConReserva text-center">negativoFuturoConReserva</td><td>Si los usables futuros son menor de 0 pero hay Armarios pendientes, está en NEGATIVOFUTUROCONRESERVA (Aun con los componentes que faltan por llegar de proveedores, habrá armarios que no tienen suficientes componentes)</td></tr>

                        <tr><td class="componente-status-bajoMinimosFuturo text-center">bajoMinimosFuturo</td><td>Si los usables futuros están entre 0 y el StockSeguridad esta BAJOMINIMOSFUTURO (Aun con los pedidos a proveedores, el componente se queda entre 0 y el SS, pero no hay Armarios que usen ese componente)</td></tr>

                        

                        <tr><td class="componente-status-bajoMinimosFuturoConReserva text-center">bajoMinimosFuturoConReserva</td><td>Si los usables futuros están entre 0 y el SS y hay Armarios pendientes, esta BAJOMINIMOSFUTUROCONRESERVA (Aun con los pedidos a proveedores, el componente se queda entre 0 y SS teniendo en cuenta los Armarios por entregar)</td></tr>
                      </tbody>
                    </table>
                    
                </div>
            </div>
        </div>

    </div>
    </div>
</section>