.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
public/dist
app/tests/coverage/
.bower-*/
.idea/
data/
zenbat/
zenbat.exe
zenbat-*
db/
*.db
bower_components/
e2e-browser-report.json
out/