<section data-ng-controller="PedidosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="pedido.id"></h1>
		<h2 data-ng-bind="pedido.fecha"></h2>

		<p>Armario:<strong>{{pedido.codigo}}</strong> Rev: <strong>{{pedido.rev}}</strong> </p>
		<p>Cantidad:<strong>{{pedido.cantidad}}</strong></p>
		<ul>
		<li ng-repeat="componente in pedido.stock.result">{{ componente.codigo }} : {{componente.stock}}</li>
		</ul>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == pedido.user._id))">
		<a class="btn btn-primary" href="/#!/pedidos/{{pedido._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	
</section>
