<section data-ng-controller="ComponentesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{componente.denominacion}} <small>{{componente.proveedor}}</small></h1> 

		<p>Cantidad: {{componente.cantidad}}</p>
		<p>Stock Minimo: {{componente.stockSeguridad}}</p>
		<p>Precio Unidad: {{componente.precioUnit}}€</p>
		<p>Status: {{componente.status}}</p>
	</div>

	<h3 ng-show="componente.pedidos.length !== 0">Armarios en proceso({{componente.catnReservas}})</h3>
	<ul>
		<li ng-repeat="pedido in componente.pedidos">
			{{pedido.pedidoId}} - {{pedido.qty}}
		</li>
	</ul>
	<h3 ng-show="componente.pedidosProveedores.length !== 0">Pedidos a proveedores({{componente.pedidosProveedores.length}})</h3>
	<ul>
		<li ng-repeat="pedidoProveedor in componente.pedidosProveedores">
			{{pedidoProveedor.pedidoProveedorId}} - {{pedidoProveedor.qty}}
		</li>
	</ul>
	<p ng-show ="componente.pedidosProveedores.length !== 0">Cantidad en pedidos:{{totalPedidosProveedores}}</p>

</section>