<section data-ng-controller="ComponentesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Componentes</h1>
	</div>
	<div class="page-content">


    <div class="alert alert-info devel-output" >
    <p>Sort predicate: {{ predicate }}</p>
    <p>Sort reverse: {{ reverse }}</p>
    <p>Search Query: {{ searchString }}</p>
  </div>
   <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Buscador" ng-model="searchString">

      </div>      
    </div>
  </form>
	<table data-toggle="table"  data-height="299" class=" table-stripped table table-hover" data-search="true"  data-show-columns="true" >
	 <thead>
        <tr>

            <td   >
            <a href="" ng-click="order('codigo')">CodigoJASO</a>
            <span class="sortorder" ng-show="predicate === 'Código JASO'" ng-class="{reverse:reverse}"></span>
            	</td>


            <td  >
            <a href="" ng-click="order('denominacion')">Denominacion</a>
            <span class="sortorder" ng-show="predicate === 'Denominación'" ng-class="{reverse:reverse}"></span>
            </td>
            <td>Cantidad</td>
            <td>CantidadReservada</td>
            <td>StockSeguridad</td>


            <td>
            <a href="" ng-click="order('proveedor')">Proveedor</a>
            <span class="sortorder" ng-show="predicate === 'Proveedor'" ng-class="{reverse:reverse}"></span>
            </td>
            <td>CodigoProv.</td>
            <td>Año del precio</td>
            <td>PrecioUnidad</td>
            <td>Notas</td>
   
            <td>Proveedor 2</td>
            <td>CodigoProv. 2</td>
            <td>Año del precio 2</td>
            <td>PrecioUnidad 2</td>
            <td>Notas</td>
      

            

        </tr>
    </thead>
    <tbody>
<tr data-ng-repeat="componente in componentes | orderBy:predicate:reverse   | filter:searchString " class="table-condensed table-stripped" >
			
			<td>{{componente.codigo}}</td>
			<td>{{componente.denominacion}}</td>
            <td>{{componente.cantidad}}</td>
             <td>{{componente.cantidadReservada}}</td>
            <td>{{componente.stockSeguridad}}</td>

			<td>{{componente.proveedor}}</td>
			<td>{{componente.codProveedor}}</td>
            <td>{{componente.yearPrecio}}</td>
            <td>{{componente.precioUnit}}</td>
            <td>{{componente.notas}}</td>


            <td>{{componente.proveedor2}}</td>
            <td>{{componente.codProveedor2}}</td>
            <td>{{componente.yearPrecio2}}</td>
            <td>{{componente.precioUnit2}}</td>
            <td>{{componente.notas2}}</td>
		</tr>

    </tbody>
    </table>
		
	</div>
	
</section>