
<section data-ng-controller="PedidosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Pedidos</h1>
    </div>
    <div class="page-content">
        <data-alertas></data-alertas>
        <div class="alert alert-info devel-output" >
        <p>Sort predicate: {{ predicate }}</p>
        <p>Sort reverse: {{ reverse }}</p>
        <p>Search Query: {{ searchString }}</p>
        </div>
        <form class="animate-show" ng-show="elCargados">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Buscador" ng-model="searchString">
                </div>      
            </div>
        </form>
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="cargador" spinner-start-active="true"></span>
        <table data-toggle="table"  data-height="299" class="table-stripped table table-hover animate-show" ng-show="elCargados"  data-search="true"  data-show-columns="true">
            <thead>
                <tr>
                
                    <td>
                        <a href="" ng-click="order('fecha')">Fecha entrega</a>
                     <span class="sortorder" ng-show="predicate === 'fecha'" ng-class="{reverse:reverse}"></span>
                        </td>


                    <td>
                        <a href="" ng-click="order('codigo')">Codigo</a>
                        <span class="sortorder" ng-show="predicate === 'codigo'" ng-class="{reverse:reverse}"></span>
                    </td>
                    <td>Rev.</td>
                    <td>
                        <a href="" ng-click="order('cantidad')">Cantidad</a>
                        <span class="sortorder" ng-show="predicate === 'cantidad'" ng-class="{reverse:reverse}"></span>
                    </td>

                    <td>
                        <a href="" ng-click="order('PC')">PC</a>
                        <span class="sortorder" ng-show="predicate === 'PC'" ng-class="{reverse:reverse}"></span>
                    </td>

                    <td>
                        <a href="" ng-click="order('PT')">PT</a>
                        <span class="sortorder" ng-show="predicate === 'PT'" ng-class="{reverse:reverse}"></span>
                    </td>
                    <td>
                        <a href="" ng-click="order('Notas')">Notas</a>
                        <span class="sortorder" ng-show="predicate === 'Notas'" ng-class="{reverse:reverse}"></span>
                    </td>
                    <td>Entregados</td>
                    <td>Estado</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="pedido in pedidos | orderBy:predicate:reverse | filter:searchString" class="table-condensed table-stripped" >
                    <td>{{pedido.fecha | date:'dd-MM-yyyy' }}</td>
                    <td>{{pedido.codigo}}</td>
                    <td>{{pedido.rev}}</td>
                    <td>{{pedido.cantidad}}</td>
                    <td>{{pedido.PC}}</td>
                    <td>{{pedido.PT}}</td>
                    <td>{{pedido.Notas}}</td>
                    <td>{{pedido.entregados}}</td>
                    <td><i class="fa fa-{{pedido.cssClass}}"></i> {{pedido.status}}</td>
                    <td><a href="#!/pedidos/{{pedido.pedidoId}}"> Ver</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
