<section data-ng-controller="PedidosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="pedido.id"></h1>
		<h2 data-ng-bind="pedido.fecha"></h2>

		<p>Armario:<strong>{{pedido.codigo}}</strong> Rev: <strong>{{pedido.rev}}</strong>  PC: <strong>{{pedido.PC}}</strong> PT: <strong>{{pedido.PT}}</strong></p>
		<p>Cantidad:<strong>{{pedido.cantidad}}</strong> - Entregados:<strong>{{pedido.entregados}}</strong> - Pendientes:<strong>{{pedido.pendientes}}</strong></p>
	</div>
	<button  class="btn" ng-class="{'btn-success':showDisponibles}"ng-click="toggleShowDisponibles()" ><i class="fa fa-eye fa-lg"></i> Ver disponibles</button>
	<div class="page-content">
		<data-alertas></data-alertas>
		<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="cargador" spinner-start-active="true"></span>
		<table data-toggle="table"  data-height="299" class=" table-stripped table table-hover animate-show" ng-show="elCargados"   data-show-columns="true" >
			<thead>
		        <tr>
		        	<td>
		            	<a href="" ng-click="order('codigo')">Codigo</a>
		            	<span class="sortorder" ng-show="predicate === 'codigo'" ng-class="{reverse:reverse}"></span>
		            </td>
		 			<td>
		            	<a href="" ng-click="order('stock')" >Stock</a>
		            	<span class="sortorder" ng-show="predicate === 'stock'" ng-class="{reverse:reverse}"></span>
		            </td>
		            <td>
		            	<a href="" ng-click="order('cantidadReservadaSinPedido')">Reservas</a>
		            	<span class="sortorder" ng-show="predicate === 'cantidadReservadaSinPedido'" ng-class="{reverse:reverse}"></span>
		            </td>  
		            <td>
		            	<a href="" ng-click="order('faltan')">Faltan</a>
		            	<span class="sortorder" ng-show="predicate === 'faltan'" ng-class="{reverse:reverse}"></span></td>
		            <td>
		            	<a href="" ng-click="order('denominacion')">Denominacion</a>
		            	<span class="sortorder" ng-show="predicate === 'denominacion'" ng-class="{reverse:reverse}"></span>
		            </td>           
		  			<td>Necesarios</td>
		  			<td>Cant. Proveedores</td>
		        </tr>
		    </thead>
		    <tbody>
				<tr data-ng-repeat="componente in pedido.stock  | orderBy:predicate:reverse " class="table-condensed table-stripped" ng-class="{disponible:componente.disponible,showDisponibles:showDisponibles}">
					<td><a href="/#!/componentes/{{componente.codigo}}">{{componente.codigo}}</a></td>
					<td>{{componente.stock| number :2}}</td>
					<td>{{componente.sumPedidoActual| number :2}}</td>
					<td>{{componente.faltan| number :2}}</td>
					<td>{{componente.denominacion}}</td>
		            <td>{{componente.necesarios | number :2}} <small>({{componente.cantidadUnidad}}x{{pedido.pendientes}}) </small></td> 
		            <td>{{componente.cantidadProveedores}}</td>
				</tr>
		    </tbody>
	    </table>
	</div>	
</section>
