<section data-ng-controller="PedidosProveedoresController" data-ng-init="find()">
    <div class="page-header">
        <h1>Pedidos a Proveedores</h1>
         <a class="btn btn-success" href="/#!/pedidos-proveedores/create"><i class="fa fa-plus fa-2x"></i> Nuevo</a>
    </div>
    <div class="page-content">
        <data-alertas></data-alertas>
        <div class="alert alert-info devel-output" >
        <p>Sort predicate: {{ predicate }}</p>
        <p>Sort reverse: {{ reverse }}</p>
        <p>Search Query: {{ searchString }}</p>
        </div>
        <form class="animate-show" ng-show="elCargados">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Buscador" ng-model="searchString">
                </div>      
            </div>
        </form>
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="cargador" spinner-start-active="true"></span>
        <button  class="btn" ng-class="{'btn-success':showCompletados}"ng-click="toggleShowCompletados()" ><i class="fa fa-eye fa-lg"></i> Ver completados</button>
        <table data-toggle="table"  data-height="299" class="table-stripped table table-hover animate-show" ng-show="elCargados"  data-search="true"  data-show-columns="true">
            <thead>
                <tr>
                
                    <td>
                        <a href="" ng-click="order('fecha')">Fecha entrega</a>
                     <span class="sortorder" ng-show="predicate === 'fecha'" ng-class="{reverse:reverse}"></span>
                        </td>


                    <td>
                        <a href="" ng-click="order('pedidoProveedorId')">Numero</a>
                        <span class="sortorder" ng-show="predicate === 'pedidoProveedorId'" ng-class="{reverse:reverse}"></span>
                    </td>
                    <td>
                        <a href="" ng-click="order('proveedor')">Proveedor</a>
                        <span class="sortorder" ng-show="predicate === 'proveedor'" ng-class="{reverse:reverse}"></span>
                    </td>
                     <td>
                        <a href="" ng-click="almacen('almacen')">Almacen</a>
                        <span class="sortorder" ng-show="predicate === 'almacen'" ng-class="{reverse:reverse}"></span>
                    </td>
                    <td>
                        <a href="" ng-click="order('status')">Estado</a>
                        <span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></span>
                    </td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="pedido in pedidosProveedores | orderBy:predicate:reverse | filter:searchString" class="table-condensed table-stripped" ng-class="{completado:pedido.completado,showCompletados:showCompletados}">
                    <td>{{pedido.fecha | date:'dd-MM-yyyy'}}</td>
                    <td>{{pedido.pedidoProveedorId}}</td>
                    <td>{{pedido.proveedorData.Nombre}}</td>
                    <td>{{pedido.almacenData.Nombre}}</td>
                    <td>{{pedido.status}}</td>
                    <td><a href="#!/pedidos-proveedores/{{pedido.nPedido}}"> Ver</a> | <a href="#!/pedidos-proveedores/{{pedido.nPedido}}/edit"> Editar</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</section>