<section data-ng-controller="PedidosProveedoresController" data-ng-init="findOne()">
	<div class="col-md-12">

		<form name="pedidoProveedoresForm" class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': componenteForm.name.$dirty && componenteForm.name.$invalid }">
					<label class="control-label" for="pedidoProveedorId">Nª pedido</label>
					<div class="controls">
						<input name="pedidoProveedorId" type="text" data-ng-model="pedidoProveedor.pedidoProveedorId" id="pedidoProveedorId" class="form-control" placeholder="1234" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="fecha">Fecha</label>
					<div class="controls">
						<input name="fecha" type="date" data-ng-model="pedidoProveedor.fecha" id="fecha" class="form-control" placeholder="27-07-2015" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="fechaEntrega">Fecha entrega</label>
					<div class="controls">
						<input name="fechaEntrega" type="date" data-ng-model="pedidoProveedor.fechaEntrega" id="fechaEntrega" class="form-control" placeholder="27-07-2015" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="observaciones">Observaciones</label>
					<div class="controls">
						<input name="observaciones" type="text" data-ng-model="pedidoProveedor.observaciones" id="observaciones" class="form-control" placeholder="Observaciones" >
					</div>
				</div>
				<div class="form-group">
				<label class="control-label" for="proveedor">Proveedor</label><br>
    			<select name="proveedor" id="proveedor"  data-ng-model="pedidoProveedor.proveedor" >
   					 <option  data-ng-repeat="proveedorEl in listProveedores" value="{{proveedorEl.proveedorId}}" >{{proveedorEl.Nombre}}</option>
     
    			</select>
					
				</div>

				<div class="form-group">
				<label class="control-label" for="almacen">Almacen</label><br>
    			<select name="almacen" id="almacen"  data-ng-model="pedidoProveedor.almacen" >
   					 <option  data-ng-repeat="almacenEl in listAlmacenes" value="{{almacenEl.almacenId}}" >{{almacenEl.Nombre}}</option>
     
    			</select><br>
					
				</div>

				</fieldset>
				<fieldset>	
				<table data-toggle="table"  data-height="299" class=" table-stripped table table-hover animate-show"    data-show-columns="true" >
			<thead>
		        <tr>
		        <td>peso</td>
		        	<td>
		            	<a href="" ng-click="order('codigo')">Codigo</a>
		            	<span class="sortorder" ng-show="predicate === 'codigo'" ng-class="{reverse:reverse}"></span>
		            </td>
		 			<td>
		            	<a href="" ng-click="order('denominacion')" >Denominacion</a>
		            	<span class="sortorder" ng-show="predicate === 'denominacion'" ng-class="{reverse:reverse}"></span>
		            </td>
		            <td>
		            	<a href="" ng-click="order('pedidoMinimo')">PedidoMin.</a>
		            	<span class="sortorder" ng-show="predicate === 'pedidoMinimo'" ng-class="{reverse:reverse}"></span>
		            </td>  
		            <td>
		            	<a href="" ng-click="order('precioUnit')">PrecioUnit</a>
		            	<span class="sortorder" ng-show="predicate === 'precioUnit'" ng-class="{reverse:reverse}"></span>
		            </td>  
		            <td>
		            	<a href="" ng-click="order('cantidad')">Cantidad</a>
		            	<span class="sortorder" ng-show="predicate === 'cantidad'" ng-class="{reverse:reverse}"></span>
		            </td>
		            <td>
		            	Unidades
		            	
		            </td>  
		            <td>
		            	<a href="" ng-click="order('total')">Total</a>
		            	<span class="sortorder" ng-show="predicate === 'total'" ng-class="{reverse:reverse}"></span>
		            </td>  
		            <td>
		            	<a href="" ng-click="order('recibido')">Recibido</a>
		            	<span class="sortorder" ng-show="predicate === 'recibido'" ng-class="{reverse:reverse}"></span>
		            </td>  
		            <td></td>
		            <td>Cant. Actual</td>
		            <td>Cant. Armarios</td>
		            <td>Cant. Proveedores</td>
		            <td>Stock seguridad</td>
		            <td>Cantidad recomendada</td> 
		        </tr>
		    </thead>
		    <tbody>
				<tr data-ng-repeat="componente in pedidoProveedor.componentes  | orderBy:'weight' " class="table-condensed table-stripped" ng-show="!componente.removed">
				<td><input name="weight" type="text" data-ng-model="componente.weight" class="form-control"></td>
					<td><a href="/#!/componentes/{{componente.codigo}}">{{componente.codigo}}</a></td>
					<td>{{componente.denominacion}}</td>
					<td>{{componente.pedidoMinimo}}</td>
					<td>{{componente.precioUnit}}</td>

					<td><input name="qty" type="text" data-ng-model="componente.qty" class="form-control" placeholder="" ng-init="0"  ng-change="calcularTotal()" ng-keyup="$event.keyCode == 13 && getEnterKey()" ></td>
					<td><input name="unidades" type="text" data-ng-model="componente.unidades" class="form-control" placeholder="" ng-init="" ng-trim="false"></td>
					<td>{{componente.precioTotal | number}}</td>	
					<td><input name="recibidos" data-ng-model="componente.recibidos" class="form-control" placeholder="" ng-init="0" ></td>
					<td><a class="btn btn-warning" data-ng-click="removeComponente(componente.codigo,true);">
			<i class="glyphicon glyphicon-trash"></i>
		</a></td>
		<td>{{componente.cantidad}}<span class="text-success" ng-show="componente.recibidos"> + {{componente.recibidos}}</span></td>
		<td>{{componente.cantidadReservada}}</td>
		<td>{{componente.cantidadProveedores}}</td>
		<td>{{componente.stockSeguridad}}</td>
		<td>{{componente.cantidadRecomendada}}</td>

				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>TOTAL</td>
					<td>{{pedidoProveedor.totalPedido  | number}}</td>		      
				</tr>
		    </tbody>
	    </table>
	    		<div class="form-group">
					<a class="btn btn-primary" ng-click="openEdit()">Añadir componentes</a>
				</div>
				<div class="form-group">
					<a class="btn btn-default" ng-click="update()">Guardar</a>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Añadir componentes</h3>
        </div>
        <div class="modal-body" >
            <form class="animate-show">
		      <div class="form-group">
		        <div class="input-group">
		          <div class="input-group-addon"><i class="fa fa-search"></i></div>
		          <input type="text" class="form-control" placeholder="Buscador" ng-model="searchString">
		        </div>      
		      </div>
		    </form>
 		<table class="table table-bordered">
	        <thead>
	          <tr>
	          <th></th>
	            <th>
	               
           		 <a href="" ng-click="order('codigo')">Codigo</a>
           		 <span class="sortorder" ng-show="predicate === 'codigo'" ng-class="{reverse:reverse}"></span>
         
	            </th>
	            <th>
	              Denominacion
	            </th>
	            <th>
	              Cantidad
	            </th>
	             <th>
	              StockSeguridad
	            </th>
	            <th>
	              Cant. en armarios
	            </th>
	           <th>
	              Cant. en proveedores
	            </th>
	            <th>
	            	         
            <a href="" ng-click="order('status')">Estado</a>
            <span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></span>
	            	</th>
	 
	        
	          </tr>
	        </thead>
	        <tbody>
	        <tr data-ng-repeat="componente in componentes |  orderBy:predicate:reverse   | filter:searchString" class="table-condensed table-stripped componente-status-{{componente.status}}" >
	            <td><input class="" type="checkbox"  data-ng-model="componente.seleccionado"></td>
	            <td><a href="/#!/componentes/{{componente.codigo}}">{{componente.codigo}}</a></td>
	            <td>{{componente.denominacion}}</td>
	            <td>{{componente.cantidad}}</td>
	            <td>{{componente.stockSeguridad}}</td>
	            <td>{{componente.cantidadReservada}}</td>
	            <td>{{componente.cantidadProveedores}}</td>
	            <td>{{componente.status}}</td>
	        </tr>
	         
	        </tbody>
        </table>


            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>