<section  data-ng-controller="PedidosProveedoresController" data-ng-init="findOne()">
<div class="page-content">
      <data-alertas></data-alertas>
      <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="cargador" spinner-start-active="false"></span>
</div>
<div class="container" ng-show="!fallo">
<div class="pull-right hidden-print ">
  <a class="btn btn-primary" data-ng-click="completar();" data-ng-show="pedidoProveedor.pendiente">
      Completar
    </a>
		<a class="btn btn-primary" href="/#!/pedidos-proveedores/{{pedidoProveedor.nPedido}}/edit"  data-ng-show="pedidoProveedor.pendiente">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
      <div class="row">
        <div class="col-xs-6">
          <h1>
         
            <img src="/logo.jpg">

          </h1>
           <div class="col-md-6 text-left">
         
        </div>
        </div>
       
        <div class="col-xs-6 text-right">
          
          <h2>Nº pedido: {{pedidoProveedor.pedidoProveedorId}}</h2>
          <h3>Fecha: {{pedidoProveedor.fecha | date: 'dd-MM-yyyy'}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Almacen de recepción</h4>
            </div>
            <div class="panel-body">
            <address>
            <h4>{{pedidoProveedor.almacenData.Nombre}}</h4>
              

              <p>
                {{pedidoProveedor.almacenData.Direccion}} <br>
                {{pedidoProveedor.almacenData.CP}}<span ng-show="pedidoProveedor.almacenData.Poblacion"> - </span>{{pedidoProveedor.almacenData.Poblacion}}<br>
                <span ng-show="pedidoProveedor.almacenData.Direccion">Tlf: </span>{{pedidoProveedor.almacenData.Tlf}} <br>
                <span ng-show="pedidoProveedor.almacenData.Fax">Fax: </span>{{pedidoProveedor.almacenData.Fax}} <br>
               <span ng-show="pedidoProveedor.almacenData.Email">Email: </span>{{pedidoProveedor.almacenData.Email}} <br>
               
                 {{pedidoProveedor.almacenData.Notas}}

              </p>
              </address>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>{{pedidoProveedor.proveedorData.Nombre}}</h4>
            </div>
            <div class="panel-body">
            <address>
              <p>
                {{pedidoProveedor.proveedorData.Direccion}} <br>
                {{pedidoProveedor.proveedorData.CP}} - {{pedidoProveedor.proveedorData.Poblacion}}<br>
                Tlf: {{pedidoProveedor.proveedorData.Tlf}} <br>
                Fax: {{pedidoProveedor.proveedorData.Fax}} <br>
                Email: {{pedidoProveedor.proveedorData.Email}} <br>
                 <br>
                 {{pedidoProveedor.proveedorData.Notas}} <br>

              </p>
              </address>
            </div>
          </div>
        </div>
      </div>
      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>Código</h4>
            </th>
            <th>
              <h4>Denominación</h4>
            </th>
            <th>
              <h4>Cantidad</h4>
            </th>
            <th class="hidden-print"  data-ng-show="pedidoProveedor.pendiente">
              
            </th>
     
              <th class="hidden-print"  data-ng-show="pedidoProveedor.pendiente">Cant. Actual</th>
                <th class="hidden-print"  data-ng-show="pedidoProveedor.pendiente">Cant. Armarios</th>
                <th class="hidden-print"  data-ng-show="pedidoProveedor.pendiente">Cant. Proveedores</th>
                <th class="hidden-print"  data-ng-show="pedidoProveedor.pendiente">Stock seguridad</th> 
          </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="componente in pedidoProveedor.componentes" class="table-condensed table-stripped " >
            <td><a style="text-decoration:none" href="/#!/componentes/{{componente.codigo}}">{{componente.codigo}}</a></td>
            <td>{{componente.denominacion}}</td>
            <td>{{componente.qty}}{{componente.unidades}}</td> 
            <td class="hidden-print"  data-ng-show="pedidoProveedor.pendiente">{{componente.precioTotal | number :2}}</td>  
           
            <td class="hidden-print" data-ng-show="pedidoProveedor.pendiente">{{componente.componenteData.cantidad}}<span class="text-success" ng-show="componente.recibidos"> + {{componente.recibidos}}</span></td>
            <td class="hidden-print" data-ng-show="pedidoProveedor.pendiente">{{componente.componenteData.cantidadReservada}}</td>
            <td class="hidden-print" data-ng-show="pedidoProveedor.pendiente">{{componente.componenteData.cantidadProveedores}}</td>
            <td class="hidden-print" data-ng-show="pedidoProveedor.pendiente">{{componente.componenteData.stockSeguridad}}</td>      
        </tr>
        <tr class="hidden-print">
            <td></td>
            <td></td>
            <td><strong>TOTAL</strong></td> 
            <td >{{pedidoProveedor.totalPedido | number :2}}</td>

        </tr>
         
        </tbody>
      </table>
      
      <div class="row">
        <div class="col-xs-7">
          <div class="panel panel-info">
            
            <div class="panel-body">
              <h4>Fecha de entrega: {{pedidoProveedor.fechaEntrega}}</h4>
         
            </div>

          </div>
        </div>
       
      </div>
      <div class="row">
        <div class="col-xs-7">
          <div class="panel panel-info">
            
            <div class="panel-body">
            
               <h4>Observaciones: {{pedidoProveedor.observaciones}}</4>
            </div>

          </div>
        </div>
       
      </div>

    </div>
</section>